body {
  background-color: #323232;
}

.projects {
  margin-top: 100px;
}

.bike {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: -30px;
}

.myself {
  margin-left: 260px !important;
}

.project1 {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.backy {
  background-color: #1b1b1b;
  color: #fcbe2d;
}

.navigate {
  background-color: #1b1b1b !important;
}
